@import "nes.min.css";
@import "animate.min.css";
@import "font.css";
@import "spiderman.css";

html,
body {
    height: 100vh;
}

.page {
    display: flex;
    height: 90vh;
    min-height: 90vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* margin-top: -100px; */
}

.profile-img {
    height: 100px;
    width: 100px;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #000;
    transform: scale(1.1);
    /* margin-top: -100px; */
}

.profile-img img {
    width: 100%;
    height: 100%;
    filter: saturate(.9);
}

.profile-img-wrapper {
    padding: 0 !important;
    margin-bottom: 20px !important;
}

.face {
    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}